:root {
    --grid-bg:#4c2171;
    --grid-bg-hover:#6c1d79;
    --grid-color:#FDA6D4;
    --unselected:#341b4b;
    --x-color:#11bce3;
    --o-color:#e31131;
}

body {
    font-family: Marske, Arial, Helvetica, sans-serif;
}
main {
    width: 850px;
    margin: auto 0;
}

#board {
    width: 800px;
    margin: auto 0;
}

.square {
    background-color: var(--grid-bg);
    border:solid 4px var(--grid-color);
    float: left;
    width: 160px;
    height: 220px;
    text-align: center;
    font-size: 220px;
    padding: 20px 100px 20px 0px;
    letter-spacing: -0.5em;
}

.square:hover {
    background-color: var(--grid-bg-hover);
}

/* Make Hash Grid */
#square0, #square1, #square2 {
    border-top: 0px;
}

#square2, #square5, #square8 {
    border-right: 0px;
}

#square6, #square7, #square8 {
    border-bottom: 0px;
}

#square0, #square3, #square6 {
    border-left: 0px;
}

#square0 {
    border-top-left-radius: 4px;
}

#square2 {
    border-top-right-radius: 4px;
}

#square6 {
    border-bottom-left-radius: 4px;
}

#square8 {
    border-bottom-right-radius: 4px;
}


@font-face {
    font-family: Marske;

    src: url("Marske.ttf")  format("truetype"),
         url("Marske.otf") format("opentype");
}